[Desktop Entry]
Encoding=UTF-8
Name=Link to https://gitlab.com/waylon531/muchless
Type=Link
URL=https://slack-redir.net/link?url=https%3A%2F%2Fgitlab.com%2Fwaylon531%2Fmuchless&v=3
Icon=text-html
